body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

td {
    padding: 5px 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    text-align: center;
    color: inherit;
}

th {
    padding: 5px 10px;
    border: 2px solid rgb(140 140 140);
    text-decoration: none;
    color: inherit;
    background-color: gray;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

a {
    padding: 3px 5px;
    justify-content: center;
}

a:hover {
    background-color: #eee;
}
